sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache

matrix:
  fast_finish: true
  include:
    - php: 7.1
    - php: 7.2

install:
  - travis_retry composer install --no-interaction

script:
  - ./vendor/bin/phpunit
